form {
    display: flex;
    justify-content: center;
}

input {
    width: 30%;
    padding: 0.5rem;
    margin: 1rem 0rem;
    background-color: #F28482;
    color: #F7EDE2;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

button {
    margin: 1rem 0rem;
    background-color: #F28482;
    color:#F7EDE2;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}