@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik&display=swap');

.App {
  display: grid;
  grid-template-columns: 20px 260px 1fr 20px;
  grid-template-rows: 20px 200px 50px 1fr 20px;
  background-color: #F7EDE2;
}

.App #header {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  /* background color placeholder */
  background-color: #84A59D;
  position: sticky;
}

.App #form {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  text-align: center;
}

.App #sidebar {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
  text-align: center;
  background-color: #F28482;
}

.App #results {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

a {
  text-decoration: none;
}

/* header specific*/
#title {
  font-family: 'Pacifico', cursive;
  color: #F6BD60;
  font-size: 6rem;
}

/* pages specific */
.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(auto, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1600px;
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.card-image {
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1rem;
  border-color: #F5CAC3;
  border-bottom: none;
  padding: 1rem;
}

.card-image img {
  height: 100%;
  width: 100%;
}

h3 {
  text-align: center;
  margin: 0;
  color: #F7EDE2;
  font-size: 1.6rem;
  border-style: solid;
  border-width: 1rem;
  border-color: #F5CAC3;
  border-top: none;
  background-color: #84A59D;

}

/* recipe specific */
.recipe-image {
  text-align: center;
  margin: 1rem;
}

.recipe-image img {
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 300px;
}

.recipe-title {
  text-align: center;
}

.instructions-title {
  margin: 0rem 0rem 0rem 2rem;
}

/* .instructions-list {

}

.ingredients-title {

}

.ingredients-list {

} */

iframe {
  border: none;
}